button {
    cursor: pointer;
    display: block;
    border-radius: 0.15rem;
    text-align: center;
    text-transform: uppercase;
    border: 0.05rem solid #0072a3;
    border-width: 0.05rem;
    line-height: 1.8;
    letter-spacing: 0.12em;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.4rem 1.25rem;
    text-decoration: none;
    border-color: rgb(33, 57, 106);
    background-color: rgb(33, 57, 106);
    color: #fff;
    margin: 1rem auto;   

  }


  *{
      box-sizing: border-box;
  }
  h4 {
    background: wheat;
    color: #21396a;
    padding: 0.5rem 0;
  }
  .container{
      text-align: center;
      font-family: sans-serif;
  }
  
  .outlined{
      background-color: #fff;
      color:#21396a
  }
  .flat{
      background-color: #fff;
      color:#21396a;
      border:#fff
  }
  .large{
      font-size: 1.25rem;
      padding: 0.1rem 2rem;
  }
  .small{
    font-size: 0.5rem;
  }
  svg{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    vertical-align: middle;
  }